
h1{
    text-align: center;
    font-size: 50px;
}

h2{
    font-weight: bold;
    font-size: 25px;
}

body {
    background-color: lightblue;
}

#paragraph2 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    align-items: center;
    gap: 2 em;
    border: 4px solid green;
    background-color: white;
    padding: 15px;
    line-height: 2;
    width: 60%;    
}

.blue {
    display:flex;
    justify-content: center;
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    gap: 2em;
    border: 2px solid black;
}

table {
    border-collapse: collapse;
}


table, th, td {
    border: 1px solid black;
    padding: 5px;

}

tr:first-child {
    background-color: darkgray;
    font-weight: bold;
}

tr:not(:first-child) {
    background-color: white;
}

ol {
    list-style: none;
    counter-reset: item;
    text-align: left;
    padding-left: 0;
}

ol li {
    counter-increment: item;
}

ol li::before {
    content: "0" counter(item) ". ";
}

#w3-schools{
    color:red;
}